body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
.front-image{
   background-image: url(./images/donation5.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 600px;
   background-position: center;
   color: white;
   text-align: center;
}
.lets-donate{
    padding: 150px 300px;
}
h1{
    font-size: 60px;
}
.link-button{
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
}
.lets-donate a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
}
.donate-now{
    text-align: center;
    margin: 0 auto;
}
.tk{
    width: 35px;
    height: 30px;
    margin: 40px;
    display: inline-block;    
}
.two-hundred{
 
   width: 80px;
   height: 80px;
   background-color: tomato;
   display: inline-block;
   margin: 30px 20 px;
   padding-left: 8px;
   color: pink;
   font-weight:100 ;
   
}
.amount{
    margin:0 auto ;
}
.donate{
    margin:0 auto;
}