body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
.front-image{
   background-image: url(./images/donation5.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 700px;
   background-position: center;
   color: white;
   text-align: center;
   margin-bottom: 50px;
}
.lets-donate{
    padding: 150px 300px;
}
h1{
    font-size: 60px;
}
.link-button{
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
}

.all-donate{
    background-color: tomato;
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;

}

.lets-donate a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
}
.donate-now{
    text-align: center;
    margin: 0 auto;
}
.amount{
    text-align: center;
    margin: 0 auto;
}
.tk{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: none;
    margin: 10px;
    background-color: #f8f6f6;
    color: grey;
    padding: 10px;
    border-radius: 5px;
}
.two{
    background-color: #FFB6C1;
    border: 3px solid #faa0ad;
    color: #ff5f77;
}
.input-section{
    text-align: center;

}
.input-section input{
    padding: 10px;
    width: 400px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    margin: 20px;
    text-align: center;
    font-size: 18px;
}
.input-section a{
    text-decoration: none;
    color: white;
}
.donate-plan{
    display: flex;
    padding: 50px;
    
    
}
.money-send{
    margin: 0 auto;
}
.column{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 320px;
    border: 1px solid white;
    margin: 50px;
    align-items: center;
    text-align: justify;
    background-color: antiquewhite;
    padding-top: 20px;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
}
.text{
    text-align: center;
    margin-top: 20px;
}
#medicine-donate{
    background-color:#F0F8FF ;
}
#blood-donate{
    background-color: #FFB6C1;
}
.volunteer-page{
    width: 50%;
    padding-left: 5%;
    padding-top: 100px;
    margin: 0 auto;
    
}
.volunteer-page a{
    text-decoration: none;
    color: white;
}
.volunteer-page img{
    width: 80%;
}    
.flexible-area{
    display: flex;
    margin-bottom: 100px;
    margin-top: 200px;
}
.subscribe-page{
    text-align: center;
    margin-bottom: 50px;
}
.email-button{
   
    background-color: cyan;
    width: 650px;
    height: 50px;
    margin:0 auto;
    text-align: center;
    padding: 80px;   
}

.button-check input{
    padding: 10px;
}
#email{
    border-radius: 20px 0 0 5px;
    border: none;
    background-color: #eaeaea;
    
    padding: 10px 40px;
}
.foter-area{
    text-align: center;
    background-color: black;
    color: lightsalmon;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    margin-top: 40px;
}
#submit{
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: tomato;
    margin-left: -4px;
    color: white;
    font-family: script;
    padding: 10px 40px;
}
